.container{
    background-color: #bddafd;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: row wrap;

}
.img-1{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
    float: left; 

}
.img-2{
    border-radius: 50%;
    width: 20%;
    margin: 20px;
    float: left; 
}
.img-3{
    border-radius: 50%;
    width: 20%;
    margin: 20px;
    float: left; 
}
.img-4{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
    float: left; 

}

.img-5{
    border-radius: 50%;
    width: 20%;
    margin: 20px;
    float: left; 
}


h4{
    text-align: left;
    margin-left: 0%;
    color: white;
}
h2{
    color: rgb(227, 221, 221);
    margin-top: 47px;
    text-align: left;
    margin-left: 4%;

}
.p-caja-1{
    color: #d8c6f7;
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
}
.p-caja-2{
    color:#d9dee7;
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
}
.p-caja-3{
    color: #747376;
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
}
.p-caja-4{
    color:#d8e4f6;
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
}
.p-caja-5{
    color:#858586;
    margin-left: 4%;
    text-align: left;
    margin-right: 4%;
}

.subtitu{
    margin-top: -20px;
    color: grey;
} 
.back-black{
    text-align: left;
    margin-left: 0%;
    color: #294384;
}
.white-h2{
    text-align: left;
    margin-top: 78px;
    margin-left: 22px;
    color:#294384;

}


.caja1{
    
    background-color: #733FC8;
    border-radius: 2%;
    width: 40%;
    margin: 40px;
    margin-bottom: 0px;
   

}
.caja2{
    background-color: #49556B;
    border-radius: 2%;
    width: 20%;
    margin: 40px;
    margin-left:0px ;
    margin-right: 150px;
    margin-bottom: 0px;
  

}
.caja3{
    background-color: #ffffff;
    border-radius: 2%;
    width: 20%;
    margin: 40px;
    
}
.caja4{
    background-color: #18202D;
    border-radius: 2%;
    width: 40%;
    margin: 40px;
    margin-left:0px ;
    margin-right: 40px;

  
}
.caja5{
    background-color: #ffffff;
    border-radius: 2%;
    width: 30%;
    margin-top: -345px;
    margin-bottom: 40px;



}
  

  @media (max-width: 1330px) {
    .caja1,
    .caja2,
    .caja3,
    .caja4,
    .caja5 {
      width: 100%; 
      margin: 10px; /
    }
  }
  